.navbar {
    margin-top: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 480px) {
    .nav-links {
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

a.nav-link-active {
    color: var(--text-bold);
}

a.nav-link-active {
    font-weight: 700;
}