.navbar {
    margin-top: 1rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

a.nav-link-active {
    color: var(--text-bold);
}

a.nav-link-active {
    font-weight: 700;
}