.header-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-box a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.summary-box {
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    .header-box {
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}
